<app-menu></app-menu>
<div class="container">
  <app-rating
    [maxRating]="5"
    (calificado)="procesarCalificacion($event)"
  ></app-rating>
  <button mat-flat-button class="primary">primary</button>
  <button mat-flat-button class="success">success</button>
  <button mat-flat-button class="warning">warning</button>
  <button mat-flat-button class="danger">danger</button>
  <h2>En cines</h2>
  <app-listado-peliculas [peliculas]="enCines"></app-listado-peliculas>

  <h2>Proximos estrenos</h2>
  <app-listado-peliculas [peliculas]="proximosEstrenos"></app-listado-peliculas>
</div>
