<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <span style="color: red">No hay peliculas para ti</span>
  </ng-container>
  <ng-container contenido>
    <div class="peliculas-contenedor">
      @for (pelicula of peliculas; track $index) {
      <div class="pelicula-contenedor">
        <a>
          @if (pelicula.poster) {
          <img [src]="pelicula.poster" width="200" height="300" alt="" />
          }@else {
          <img src="images/default.jpg" width="200" height="300" alt="" />
          }
        </a>
        <p>
          <a>{{ pelicula.titulo }}</a>
        </p>
        <div>
          <a mat-flat-button>Editar</a>
          <button mat-flat-button type="button" class="danger">Eliminar</button>
        </div>
      </div>
      }
    </div>
  </ng-container>
</app-listado-generico>
