@if (!peliculas) {
<img src="https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" />
}@else if (peliculas.length === 0) {
<div>
  <p>No hay peliculas para mostrar</p>
</div>
}@else { @for (pelicula of peliculas; track $index) {
<div class="contenedor-pelicula">
  <!--  -->
  <div style="display: flex; flex-direction: row; gap: 10px">
    <div>
      <img
        [ngSrc]="pelicula.poster"
        [priority]="$index === 0"
        alt=""
        width="200"
        height="300"
      />
    </div>
    <div>
      <p>{{ $index }}) pelicula:{{ pelicula.titulo }}</p>
      <p>precio:{{ pelicula.precio }}</p>
    </div>
  </div>
</div>
} }
