<button (click)="agregarPelicula()">agregar</button>

<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <span style="color: red">No hay peliculas para ti</span>
  </ng-container>
  <ng-container contenido>
    @for (pelicula of peliculas; track $index) {
    <div class="contenedor-pelicula">
      <!--  -->
      <div style="display: flex; flex-direction: row; gap: 10px">
        <div>
          @if (pelicula.poster) {
          <img
            [ngSrc]="pelicula.poster"
            [priority]="$index === 0"
            alt=""
            width="200"
            height="300"
          />
          }@else {
          <img src="images/default.jpg" width="200" height="300" alt="" />
          }
        </div>
        <div>
          <p>{{ $index }}) pelicula:{{ pelicula.titulo }}</p>
          <p>precio:{{ pelicula.precio }}</p>
          <button (click)="eliminarPelicula(pelicula)">Eliminar</button>
        </div>
      </div>
    </div>
    }
  </ng-container>
</app-listado-generico>
