<form (submit)="guardarCambios()" [formGroup]="form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label> Nombre</mat-label>
    <input matInput [formControl]="form.controls.nombre" />
    <mat-error>{{ mensajeErrorNombre() }} </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Fecha nacimiento</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="form.controls.fechaNacimiento"
    />
    <mat-datepicker #picker></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-error>{{ mensajeErrorFechaNacimiento() }} </mat-error>
  </mat-form-field>
  <div>
    <app-input-img
      [urlImagenActual]="model?.imagen"
      titulo="Imagen del actor"
      (imagenSeleccionada)="imagenSeleccionada($event)"
    ></app-input-img>
  </div>
  <div class="botonera">
    <button mat-flat-button type="submit" [disabled]="form.invalid">
      Guardar
    </button>
    <a mat-stroked-button routerLink="/actores">Cancelar</a>
  </div>
</form>
