@use "@angular/material" as mat;

.primary {
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
}

.success {
  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

.warning {
  @include mat.button-overrides(
    (
      filled-container-color: orange,
      //   filled-label-text-color: red,
    )
  );
}

.danger {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
